body {
  background-color: rgb(61, 61, 205);
  padding: 150px;
}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}