body{
    background-color: aqua;
}

h1{
    color: rgb(199, 6, 6);
    text-align: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(118, 91, 91, 0.1);
    z-index: 1000;

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}