.hidden-text {
    opacity: 0;
    transition: opacity 1s ease;
}
.hidden-text:hover {
    opacity: 1;
}
.rotate-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.rotate-button:hover {
    transform: rotate(145deg);
}
.image-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.image-container img {
    width: 50%;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.image-container img:hover {
    transform: scale(1.2);
    opacity: 1;
}