.element {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  