*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./360_F_746232242_zwdwwPu9dBF4GkVaV6ICaxPvZWwRRC07.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    margin: 50px;
    color: aqua;
    text-align: center;   
}
input{
    border-bottom: 2px solid #fff;
    background: transparent;
    color: aquamarine;
}